In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("04decisiontreeAdultIncome.csv")

In [3]:
data.isnull().sum(axis=0)

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [4]:
data.dtypes

age                int64
wc                object
education         object
marital status    object
race              object
gender            object
hours per week     int64
IncomeClass       object
dtype: object

In [5]:
data_prep = pd.get_dummies(data,drop_first=True)

In [6]:
data

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [7]:
data_prep

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [8]:
X = data_prep.iloc[:,:-1]
Y = data_prep.iloc[:,-1]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state=1234,stratify=Y)

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
dtc = DecisionTreeClassifier(random_state=1234)

In [12]:
dtc.fit(X_train,Y_train)
Y_predict = dtc.predict(X_test)

In [13]:
Y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [27]:
from sklearn.metrics import confusion_matrix , classification_report
cm = confusion_matrix(Y_test,Y_predict)

In [15]:
score = dtc.score(X_test,Y_test)

In [16]:
score

0.7710965133906014

In [17]:
cm

array([[3814,  559],
       [ 800,  764]], dtype=int64)

In [28]:
cr = classification_report(Y_test,Y_predict)

In [29]:
cr

'              precision    recall  f1-score   support\n\n           0       0.83      0.87      0.85      4373\n           1       0.58      0.49      0.53      1564\n\n    accuracy                           0.77      5937\n   macro avg       0.70      0.68      0.69      5937\nweighted avg       0.76      0.77      0.76      5937\n'

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rfc = RandomForestClassifier(random_state=1234)

In [20]:
rfc.fit(X_train,Y_train)
Y_predict1 = rfc.predict(X_test)

In [21]:
Y_predict1

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [23]:
from sklearn.metrics import confusion_matrix 
cm1 = confusion_matrix(Y_test,Y_predict1)

In [24]:
score1 = rfc.score(X_test,Y_test)

In [25]:
cm1

array([[3889,  484],
       [ 708,  856]], dtype=int64)

In [26]:
score1

0.7992251979114031